/* Setting padding and margin to 0 to get better alingment measures */
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

div {
  padding: 0;
  margin: 0;
}

/* Styles for the Header as well as the hero section */
.hero-section {
  background-color: #1F2937;
  color: #e5e7eb;
  font-size: 18px;
  padding-top: 24px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 24px;
}

.hero-description {
  display: flex;
  padding:100px 0px;
}

.hero-text-area {
  margin: 0 auto 0 auto;
  width: 420px;
}
.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 8px;
}

.image-area {
  margin-right: auto;
  /* margin-left: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  background-color: rgb(74, 92, 103);
}
.hero-button {
  background-color: #3882f6;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #f9faf8;
  padding: 8px 24px;
  border-radius: 8px;
  margin-top:12px;
  cursor: pointer;
}

/* Styles for the information section */
.information-section {
  padding-bottom: 112px;
}
.info-heading{
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
  padding: 36px;
}

.info-cards-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.info-card{
  width: 150px;
  text-align: center;
  color: #00000080;
  font-size: 16px;
}
.info-image-box {
  height: 150px;
  width: 150px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.info-text {
  padding: 8px 0 0 0;
}

/* Styles for the quotes section */
.quotes-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  flex-direction: column;
}

.quote {
  width: 800px;
}

.quotes-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight:300;
}

.quote-author {
  text-align: right;
  font-weight:500;
  font-size: 22px;
}

/* signup-section styles */
.signup-section{
  display: flex;
  justify-content:center;
  align-items: center;
}

.prompt-box {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #3882F6;
  color: white;
  margin: 80px 0;
  width: 900px;
  padding: 44px 0;
  border-radius: 8px;
}

.prompt-text-area {
  font-size: 14px;
}

.prompt-heading {
  font-weight: 900;
  font-size: 18px;
}

.prompt-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  color : white;
  font-weight: 700;
  padding: 4px 18px;
  cursor:pointer;
}
